
<div class ="masthead">

    <nav class = "language-nav">

            <a href="#">CSS</a>
            <a href = "#"> HTML</a>
            <a href = "#"> Javascript</a>
            <a href = "#">  Ruby </a>

    </nav>
</div>

<div class= "masthead-links">
    <ul>
       <li> Tuesday, October 18, 2016</li>
        <li><a href="#">Today’s Paper</a></li>
       <li><a href="#"> Video</a></li>
        <li><button>77°F</button></li>
        <li><button>AAO +100%</button></li>
    </ul>
</div>
